# MongoDB Connection String
# MongoDB Atlas se milega (free)
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/profit-pilot

# JWT Secret Key — koi bhi random string likho
JWT_SECRET=profit_pilot_secret_key_2024

# Port
PORT=5000
